.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

body {
    cursor: url(images/cursor.cur), auto;
}
.sidebar {
    flex-basis: 20rem;
    flex-grow: 0;
    margin-block-start: 1ch;
    padding: 2rem;
}

.sidebar>img {
    max-height: fit-content;
    max-width: fit-content;
}

.not-sidebar {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
   

}


.rund {
    border-radius: 100%;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 350px;
    left: 0;
    border: 1px red;
    border-radius: 100%;
    padding-left: 1rem;
    padding-top: 6rem;
  }
  .image2 {
    position: absolute;
    top: 100 px;
    left: 30px;
    border: 1px red;
    border-radius: 100%;
    padding-top: 4rem;
  }
.hero {
    display: grid;
    grid-template-areas: "stack";
    margin-bottom: 2rem;
}

.hero>* {
    grid-area: stack;
}

.hero>h1 {
    place-self: center;
    font-size: 4rem;
    color: #ffffff;
    outline-style: solid;
    outline-color: #e01e1e;
    outline-width: 0, 5ch;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    padding-left: 2ch;
    padding-top: 1ch;
}

body {
    background-color: rgb(255, 255, 255);
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}   

